<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container"> 
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"> Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/JadyLinnit" target="_blank" class="icoGitHub"></a>
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </li>
                    
                    <li>
                        <a href="https://www.instagram.com/liinnit/" target="_blank" class="icoInstagram"></a>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/jady-linnit/" target="_blank" class="icoLinkedin"></a>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </li>
               
                </ul>
            </div>
        </div>
    </div>


    

</footer>
